#searchDiv{
    padding: 10px;
    border: solid 1px grey;
    background-color: lightblue;
    height: 100%;
}

#citySearchButton{
    display: inline-block;
}

#currentConditions{
    padding: 10px;
    border: solid 1px grey;
    background-color: lightblue;
    height: 100%;
    align-content: center;
}

#searchHistory{
    padding: 10px;
    height: 100%;
    align-content: center;
}

#fiveDayForecast{
    padding: 10px;
    border: solid 1px grey;
    background-color: lightblue;
    height: 100%;
    align-content: center;
}